{% extends 'base.html.twig' %}

{% block header_content %}
    <h1 class="mb-3">{% block title %}Viewing comment by {{ comment.name }}{% endblock title %}</h1>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Return to homepage</a>
{% endblock header_content %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">

            {# Display the main comment #}
            {% include 'comment/_partials/comment.html.twig' with { 'links': false } %}
            
            <hr />

            <div class="ml-4">
                <h4 class="mb-3">{{ commentsService.getReplyCount(comment.id) }} Replies</h4>

                {% for reply in replies %}
                    {% include 'comment/_partials/comment.html.twig' with { 'comment': reply, 'links': false } %}
                {% endfor %}

                {{ knp_pagination_render(replies) }}
                <hr />

                <h4 class="mb-3">Reply to {{ comment.name }}</h4>

                {# Display the form, we set type to 'reply' #}
                {% include 'comment/_partials/form.html.twig'  with { 'type': 'reply' } %}
            </div>
        </div>
    </div>
{% endblock body_content %}
